{% extends 'coffeemachine/base.html' %}

{% block content %}
<h2>Ви збираєтесь замовити {{drink.name}} за {{drink.price}} грн</h2>
<h4>Чи бажаєте щось додати до напою?</h4>
<h5>Наявні інгрідієнти:</h5>

<form class="" action="{% url 'order_drink_url'  drink.id %}" method="post">
  {% csrf_token %}

{% for ingredient in ingredients %}
  <div class="form-check">
    <label class="form-check-label" for="defaultCheck1">
      <input class="form-check-input" type="checkbox" value="" name="{{ingredient.name}}" id="defaultCheck1">
      {{ingredient.name}} - {{ingredient.price}} грн
    </label>
  </div>
{% endfor %}

  <button type="Submit" class="btn btn-primary" name="Create">Замовити</button>
</form>


{% endblock %}
